<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Interação com Flask</title>
</head>
<body class="bg-white w-full h-full flex flex-row">  
    <div class="bg-blue-500 w-1/2 h-screen flex flex-col items-center justify-center min-h-screen"> 
        <h1 class="text-3xl font-bold text-white mb-5">📦 Sistema de Estoque - GPTecos</h1>

        <form method="POST" class="bg-white p-5 rounded shadow-lg flex flex-col gap-5 w-[70%]"> 
            <h1 class="text-3xl font-bold text-blue-400 mb-5">Login</h1>
            <input type="text" name="usuario" class="border p-2 rounded w-full" placeholder="Usuário" required> 
            <input type="password" name="senha" class="border p-2 rounded w-full" placeholder="Senha" required> 

            <button type="submit" class="mt-3 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
                Enviar
            </button>
        </form>
    </div> 

    <!-- Segunda parte com fundo vermelho -->
    <div class="bg-gray-600 w-1/2 h-screen flex flex-col items-center justify-center min-h-screen"> 
        <img src="templates/img/pngtree-inventory-control-vector-warehouse-industry-png-image_6428755.png" alt="Imagem do Controle de Estoque">
    </div>
    
</body>


</html>
